.data-title{ 
    text-align: center;
}

.menu{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Data{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.features{
    align-items: center;
    text-align: center;
    justify-content: center;
}